<div class="container">
  <h2 class="title">Success!</h2>
  <img src="https://bit.ly/2kHdBRr" alt="Confirmation OK!">
  <h3>Your account is now confirmed! <a href="/auth/login">Login now</a></h3>
</div>