<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Arvo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div>
        <section class="home">
          <div class="logo">
            <svg width="298" height="30" xmlns="http://www.w3.org/2000/svg">
              <text
                transform="translate(-39 -262)"
                fill="#F2F2F2"
                fill-rule="evenodd"
                font-family="Arvo"
                font-size="40"
              >
                <tspan x="37.012" y="292">MAKE</tspan>
                <tspan
                  x="165.605"
                  y="292"
                  font-family="Arvo-Bold, Arvo"
                  font-weight="bold"
                >
                  APPLAN
                </tspan>
              </text>
            </svg>
          </div>
        </section>
      </div>
      <div class="actions">
        <button class="btn-getstarted">
          <a>GET STARTED</a>
        </button>
      </div>
    </div>
  </body>
</html>
