@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.46667;
  color: #444;
}

body {
  color: white;
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 29, 39, 1);
}

a {
  color: white;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
  color: white;
}

.title,
.subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  font-size: 1.4rem;
  padding: 1rem 0;
  border-bottom: 1px solid #d4d4d4;
}

.subtitle {
  font-size: 1rem;
  padding: 0.5rem 0;
}

img {
  width: 200px;
}

.container {
  width: 100%;
  max-width: 960px;
  padding: 48px 64px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1.1rem 3rem;
  background-color: #071d27d2;
  -webkit-box-shadow: 15px 13px 32px -8px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 15px 13px 32px -8px rgba(0, 0, 0, 0.57);
  box-shadow: 15px 13px 32px -8px rgba(0, 0, 0, 0.57);

  display: flex;
  height: 56px;
}

.nav-primary {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1.1rem 3rem;
  -webkit-box-shadow: 15px 13px 32px -8px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 15px 13px 32px -8px rgba(0, 0, 0, 0.57);
  box-shadow: 15px 13px 32px -8px rgba(0, 0, 0, 0.57);

  display: flex;
  align-items: center;
  background-color: #071d27d2;
  padding: 1rem;
  justify-content: space-between;
}

.nav-primary .user-avatar {
  width: 24px;
  height: 24px;
}

.nav-primary a {
  color: white;
  text-decoration: none;
  margin-right: 1.2rem;
}

.nav-primary a:last-child {
  margin-right: 0;
}

li {
  list-style: none;
}

.user-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.activity-type {
  width: 20%;
  margin: 1rem 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
textarea {
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #f0f0f0;
  border-radius: 0.25rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus {
  background: #f0f0f0;
}

.form-group {
  display: flex;
  padding: 1.5rem 0;
  border-bottom: 1px solid #aba9a9ac;
  display: flex;
  align-content: center;
  justify-content: center;
  // flex-direction: column;
}

.form-group label {
  width: 33%;
}

.form-group:last-of-type {
  border-bottom: 0 !important;
}

.form label {
  font-size: 16px;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.75rem;
  margin: 1rem 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.btn-primary {
  // background: #0057ff;
  // color: #f0f0f0;
  font-family: "Didact Gothic", sans-serif;
  background: #0e242f;
  color: #5f737d;
  border-radius: 20px;
  border: none;
  padding: 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
  width: 150px;
  -webkit-box-shadow: 15px 13px 32px -8px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 15px 13px 32px -8px rgba(0, 0, 0, 0.57);
  box-shadow: 15px 13px 32px -8px rgba(0, 0, 0, 0.57);
  margin: 20px;
}

.btn-primary:focus {
  outline: 0;
}

.btn-primary a {
  font-size: 25px;
  color: #5f737d;
  background: #0e242f;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.btn-secondary {
  background: #f0f0f0;
  text-decoration: none;
  color: #0057ff;
}
#btn-google {
  background: white;
  color: #5f737d;
  border-radius: 20px;
  border: none;
  padding: 1rem 8rem;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-shadow: 15px 13px 32px -8px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 15px 13px 32px -8px rgba(0, 0, 0, 0.57);
  box-shadow: 15px 13px 32px -8px rgba(0, 0, 0, 0.57);
  margin: 0 10px;
}
#btn-google:focus {
  outline: 0;
}

#btn-facebook {
  background: #3b5998;
  color: #5f737d;
  border-radius: 20px;
  border: none;
  padding: 1rem 8.5rem;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-shadow: 15px 13px 32px -8px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 15px 13px 32px -8px rgba(0, 0, 0, 0.57);
  box-shadow: 15px 13px 32px -8px rgba(0, 0, 0, 0.57);
  margin: 0 10px;
}
#btn-facebook:focus {
  outline: 0;
}

#btn-google-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

#btn-facebook-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.row__item {
  width: 33.33%;
}

.row__item img {
  width: 100%;
  height: 240px;
  display: block;
  object-fit: cover;
  object-position: center;
}

.user-info {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.post-image img {
  width: 100%;
  margin-bottom: 1.6rem;
}

.search-results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  border-top: 1px solid #f0f0f0;
}

.when {
  display: block;
  font-size: 13px;
}

.sub-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f58a;
  padding: 0.5rem 0;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 56px 24px;
    flex-direction: column;
  }

  .activity-type {
    width: 33.33%;
    text-align: left;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 420px) {
  .container {
    padding: 56px 24px;
    flex-direction: column;
  }

  .activity-type {
    width: 50%;
    text-align: left;
    padding-left: 2rem;
  }
}

.plan label {
  font-size: 16px;
  font-family: "Didact Gothic", sans-serif;
  margin: 5px;
}
.activity-type img {
  height: 70px;
  width: 70px;
}
.plan-click {
  display: flex;
  justify-items: flex-end;
  align-items: center;
  flex-direction: row;
}
#activities-group {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  margin: 10px;
  margin-bottom: 24px;
}

#form-accesibility {
  font-family: "Didact Gothic", sans-serif;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 14px 10px;
  flex-direction: column;
}
#form-accesibility2 {
  flex-direction: column;
}
select {
  color: white;
  background-color: #184357d2;
  border-radius: 10px;
  border: none;
  padding: 5px 50px;
  margin: 10px;
}

#activityForm {
  width: 90vw;
  color: white;
  font-size: 19px;
  padding: 10px 5px;
  margin: 10px 5px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-wrap: wrap;
}
#typeForm {
  color: white;
  font-size: 19px;
  padding: 10px 5px;
  margin: 10px 5px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-wrap: wrap;
}
#linkForm {
  color: white;
  font-size: 19px;
  padding: 10px 5px;
  margin: 10px 5px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-wrap: wrap;
}
#select-day {
  background-color: #1a3645ab;
  border-radius: 15px;
  color: white;
  border: none;
}
#select-time {
  background-color: #1a3645ab;
  border-radius: 15px;
  color: white;
  border: none;
}
#searchInput {
  background-color: #1a3645ab;
  border-radius: 15px;
  color: white;
  border: none;
}
#your-comment {
  background-color: #1a3645ab;
  border-radius: 15px;
  color: white;
  border: none;
}
::placeholder {
  color: white;
}
