@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat&display=swap");
* {
  box-sizing: border-box; }

html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.46667;
  color: #444;
  background: #ebebeb45; }

a {
  color: #0057ff;
  cursor: pointer; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
  color: #515151; }

.title,
.subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.title {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid #d4d4d4; }

.subtitle {
  font-size: 1rem;
  padding: 0.5rem 0; }

img {
  width: 200px; }

.container {
  width: 100%;
  max-width: 960px;
  padding: 48px 64px;
  margin: 0 auto; }

nav {
  display: flex;
  height: 56px; }

.nav-primary {
  display: flex;
  align-items: center;
  background: #2e2f37;
  padding: 1rem; }

.nav-primary .user-avatar {
  width: 24px;
  height: 24px; }

.nav-primary a {
  color: white;
  text-decoration: none;
  margin-right: 1.2rem; }

.nav-primary a:last-child {
  margin-right: 0; }

li {
  list-style: none; }

.user-actions {
  display: flex;
  align-items: center;
  margin-left: auto; }

.activity-type {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0; }

.form-group .activity-type label {
  width: auto; }

.flex-wrap {
  flex-wrap: wrap; }

.form {
  display: flex;
  flex-direction: column; }

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
textarea {
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #f0f0f0;
  border-radius: 0.25rem; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus {
  background: #f0f0f0; }

.form-group {
  display: flex;
  padding: 1.5rem 0;
  border-bottom: 1px solid #f0f0f0; }

.form-group label {
  width: 33%; }

.form-group:last-of-type {
  border-bottom: 0 !important; }

.form label {
  font-size: 16px; }

.error-message {
  color: #e71717;
  padding: 24px; }

.btn {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
  margin: 1rem 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer; }

.btn-primary {
  background: #0057ff;
  color: #f0f0f0; }

.btn-secondary {
  background: #f0f0f0;
  color: #0057ff; }

.btn-social {
  display: flex;
  font-size: 8px;
  line-height: 16px;
  padding: 8px; }

.social-auth {
  display: flex;
  flex-direction: row; }

.container.auth {
  max-width: 560px;
  background: rgba(255, 255, 255, 0.8); }
  .container.auth .form-group {
    flex-direction: column; }
  .container.auth .form label {
    font-size: 1rem;
    margin-bottom: 1rem; }
  .container.auth .social-auth li {
    width: 50%; }

.social-auth li:not(:first-child) {
  margin-left: 8px; }

.facebook,
.google {
  color: #ffffff; }

.facebook svg,
.google svg {
  height: 16px;
  margin-right: 8px; }

.facebook {
  background: #3b5898; }

.google {
  background: #4385f5; }

.row {
  display: flex;
  flex-wrap: wrap; }

.row__item {
  width: 33.33%; }

.row__item img {
  width: 100%;
  height: 240px;
  display: block;
  object-fit: cover;
  object-position: center; }

.user-info {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem; }

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.5rem; }

#bigger {
  width: 64px;
  height: 64px; }

.post-image img {
  width: 100%;
  margin-bottom: 1.6rem; }

.search-results-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-top: 1px solid #f0f0f0; }

.when {
  display: block;
  font-size: 13px; }

.sub-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f5;
  padding: 0.5rem 0; }

.sub-section ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.sub-section a {
  margin-right: 16px;
  text-decoration: none;
  color: inherit; }

.activity-type input[type="radio"] {
  visibility: hidden;
  height: 0;
  width: 0; }

.activity-type label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease-out; }

.activity-type input[type="radio"]:checked + label {
  background-color: #58ba83;
  color: white; }

.activity-type img {
  width: 62px; }

section {
  border: 1px solid transparent;
  padding: 3rem;
  border-radius: 6px;
  margin: 2rem 0;
  background: white;
  box-shadow: 5px 5px 25px 0px rgba(147, 147, 147, 0.2);
  transition: border-color 0.5s; }

section:hover {
  border-color: rgba(0, 0, 0, 0.075); }

/* ANIMATIONS */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.fadeIn {
  animation-name: fadeIn; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media screen and (max-width: 800px) {
  .container {
    padding: 48px 24px; }
  .activity-type {
    width: 33.33%;
    text-align: left; } }

@media screen and (max-width: 420px) {
  .container {
    padding: 48px 24px; }
  .activity-type {
    width: 50%;
    text-align: left; }
  .form-group {
    display: block;
    padding: 1.5rem 0;
    border-bottom: 1px solid #f0f0f0; }
  #activities-group {
    display: flex !important; } }

/*# sourceMappingURL=style.css.map */